qMetal.xcodeproj/project.xcworkspace/xcuserdata/rusl.xcuserdatad/UserInterfaceState.xcuserstate
qMetal.xcodeproj/project.xcworkspace/xcuserdata/rusl.xcuserdatad/WorkspaceSettings.xcsettings
qMetal.xcodeproj/xcuserdata/rusl.xcuserdatad/xcschemes/qMetal Release.xcscheme
qMetal.xcodeproj/xcuserdata/rusl.xcuserdatad/xcschemes/qMetal.xcscheme
qMetal.xcodeproj/xcuserdata/rusl.xcuserdatad/xcschemes/xcschememanagement.plist
